
*{
    box-sizing:border-box;
}
html,body{
    height:100%;
}
body{
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card{
    height: 100%;
    padding-top: 200px;
}
.card1{
    display: flex;
    flex: 0 0 auto;
    max-width: 800px;
    margin: 80px 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius:1%;

}
.image{
    border-radius: 1px;
    width: 250px;
    flex: 0 0 auto;
    position: relative;
    background: lightgreen;
}
.img{
    position: absolute;
    bottom: 3em;
    left: 50%;
    margin-left: -175px;;
    width: 350px;
}
.part1-content{
    text-align: center ;
    padding: 3em 4em 2em;
}
.part1-content a{
    background-color:  #8dc26f;
    color: white;
    padding:4% 6%;
    position: inherit;
    height: 50px;
    font-size: lem;
    letter-spacing: 1px;
    display: inline-block;
    border-radius: 25px;
    text-decoration: none;
    margin-top: 2em;
    text-transform: uppercase;
    top: 100px;
}

    

  